@use "../scss/partials/costantVariables.scss" as *;
@import "bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $main_bg_color;
    color: white;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    box-shadow: 48px 90px 198px -3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 48px 90px 198px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 48px 90px 198px -3px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    padding-bottom: 1rem !important;

    &.ms_container {
        height: 80vh;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 14px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }


        &::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background: black;
            border: 3px solid transparent;
            background-clip: content-box;
        }
    }


    .row-title {
        margin-top: 2rem;
    }
}